In [4]:
#!pip install yfinance
from datetime import date
import yfinance as yf
import pandas as pd
from pandas_datareader import data as pdr

In [6]:
acciones = 'BMA.BA'
start_date = "2014-01-01"
end_date = "2020-12-31"
intervalo = '1d'

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
cd /content/gdrive/My Drive/Invest

In [ ]:
#df = pd.DataFrame(columns=['Date'])
#df.set_index('Date',inplace=True)
#for i in acciones:
#    data = yf.download("{}".format(i), start = start_date, end = end_date)[['Adj Close']]
#    data.columns = ['{}'.format(i)]
#    df = df.merge(data, how='outer',left_index=True,right_index=True)
#df.sort_values('Date',ascending=True,inplace=True)

In [ ]:
df = yf.download(
    acciones,
    start = start_date,
    end = end_date,
    interval = intervalo
#    group_by="ticker" #Para ordenar por cuenta y no por columna
)['Adj Close']
df.sort_values('Date',ascending=True,inplace=True)

Exception in thread Thread-10:
Traceback (most recent call last):
  File "C:\Users\dguelman\Anaconda3\lib\threading.py", line 932, in _bootstrap_inner
    self.run()
  File "C:\Users\dguelman\Anaconda3\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\dguelman\Anaconda3\lib\site-packages\multitasking\__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\dguelman\Anaconda3\lib\site-packages\yfinance\multi.py", line 166, in _download_one_threaded
    data = _download_one(ticker, start, end, auto_adjust, back_adjust,
  File "C:\Users\dguelman\Anaconda3\lib\site-packages\yfinance\multi.py", line 178, in _download_one
    return Ticker(ticker).history(period=period, interval=interval,
  File "C:\Users\dguelman\Anaconda3\lib\site-packages\yfinance\base.py", line 156, in history
    data = data.json()
  File "C:\Users\dguelman\Anaconda3\lib\site-packages\requests\models.py", line 898, in json
    return complexjson.loads(self.text, **kwargs)
  File "C:\Users\dguelman\Anaconda3\lib\json\__init__.py", line 357, in loads
    return _default_decoder.decode(s)
  File "C:\Users\dguelman\Anaconda3\lib\json\decoder.py", line 337, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
  File "C:\Users\dguelman\Anaconda3\lib\json\decoder.py", line 355, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
df.head()

In [38]:
df.to_excel('MACRO.xlsx')

In [24]:
acciones.split(',')

['ARS=X', ' MXN=X', ' COP=X', ' CLP=X', ' BRL=X']

In [ ]:
df = df[acciones.split(',')]

In [ ]:
df

               GGAL.BA     YPFD.BA   TGNO4.BA    SUPV.BA     BYMA.BA
Date
2020-01-06  124.900002  860.799988  40.950001  56.400002  306.718842
2020-01-16  125.900002  860.200012  43.299999  55.000000  293.856415
2020-01-21  123.699997  810.200012  42.950001  53.049999  302.266449

In [ ]:
ggal = yf.Ticker("GGAL")
print(ggal)

yfinance.Ticker object <GGAL>

In [ ]:
# get stock info
ggal.info

{'zip': '1038',
 'sector': 'Financial Services',
 'fullTimeEmployees': 9718,
 'longBusinessSummary': 'Grupo Financiero Galicia S.A., a financial services holding company, provides various financial products and services in Argentina. The company operates through Banks, Regional Credit Cards, Insurance, and Other Businesses segments. It offers large-corporations banking, investment banking, and capital market services; middle-market banking; and banking services to agricultural sector. The company also provides checking and savings accounts, credit and debit cards, payroll direct deposits, and other services; personal loans and mortgages and time deposits; and financial products, payroll services, discount checks, and foreign trade transaction support services, as well as services to its high net worth customers. In addition, it offers financial investment alternatives, such as deposits, FIMA mutual funds, government and corporate securities, and shares and trusts; mutual funds; annuity products; life and personal accident insurance; property and casualty insurance products, such as home and ATM theft insurance; and insurance brokerage services, as well as issues credit cards. Further, the company engages in the management and administration of foreign currency positions, derivatives instruments, and government and corporate securities, as well as issues warrants to the agricultural, industrial, and agro-industrial sectors, as well as exporters and retailers. As of December 31, 2018, it had 325 full service banking branches; and 2,029 ATMs and self-service terminals. Grupo Financiero Galicia S.A. was founded in 1905 and is based in Buenos Aires, Argentina.',
 'city': 'Buenos Aires',
 'phone': '54 11 4343 7528',
 'country': 'Argentina',
 'companyOfficers': [],
 'website': 'http://www.gfgsa.com',
 'maxAge': 1,
 'address1': 'Teniente General Juan D. Peron 430',
 'industry': 'Banks—Regional',
 'address2': '25th Floor',
 'previousClose': 10.16,
 'regularMarketOpen': 9,
 'twoHundredDayAverage': 13.358541,
 'trailingAnnualDividendYield': None,
 'payoutRatio': 0.0469,
 'volume24Hr': None,
 'regularMarketDayHigh': 9.35,
 'navPrice': None,
 'averageDailyVolume10Day': 962850,
 'totalAssets': None,
 'regularMarketPreviousClose': 10.16,
 'fiftyDayAverage': 13.731428,
 'trailingAnnualDividendRate': None,
 'open': 9,
 'averageVolume10days': 962850,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 0.31,
 'exDividendDate': 1557878400,
 'beta': 1.411901,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 8.45,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 943946,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1698727552,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 1247585,
 'priceToSalesTrailing12Months': None,
 'dayLow': 8.45,
 'ask': 8.9,
 'ytdReturn': None,
 'askSize': 1000,
 'volume': 943946,
 'fiftyTwoWeekHigh': 39.22,
 'forwardPE': 1.6062113,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 0.75,
 'fiftyTwoWeekLow': 8.45,
 'bid': 8.86,
 'tradeable': True,
 'dividendYield': 0.0277,
 'bidSize': 900,
 'dayHigh': 9.35,
 'exchange': 'NMS',
 'shortName': 'Grupo Financiero Galicia S.A.',
 'longName': 'Grupo Financiero Galicia S.A.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'GGAL',
 'messageBoardId': 'finmb_1532718',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': None,
 'beta3Year': None,
 'profitMargins': 0.36187,
 'enterpriseToEbitda': None,
 '52WeekChange': -0.6259205,
 'morningStarRiskRating': None,
 'forwardEps': 5.49,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 142676000,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': None,
 'sharesShort': 2437153,
 'sharesPercentSharesOut': 0.0171,
 'fundFamily': None,
 'lastFiscalYearEnd': 1577750400,
 'heldPercentInstitutions': 0.26195,
 'netIncomeToCommon': None,
 'trailingEps': None,
 'lastDividendValue': None,
 'SandP52WeekChange': -0.017961562,
 'priceToBook': None,
 'heldPercentInsiders': 0,
 'nextFiscalYearEnd': 1640908800,
 'mostRecentQuarter': 1577750400,
 'shortRatio': 1.86,
 'sharesShortPreviousMonthDate': 1580428800,
 'floatShares': 103389070,
 'enterpriseValue': 1578001664,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 1.114,
 'dateShortInterest': 1582848000,
 'pegRatio': 0.05,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': 2383972,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 9,
 'logo_url': 'https://logo.clearbit.com/gfgsa.com'}

In [ ]:
# get historical market data
ggal.history(period="max")

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2000-07-25  16.33  16.58  15.65  16.35   126200        0.0             0
2000-07-26  16.11  16.41  16.06  16.35    28900        0.0             0
2000-07-27  16.35  16.47  16.23  16.35    61200        0.0             0
2000-07-28  16.41  16.41  16.00  16.23   146100        0.0             0
2000-07-31  16.35  16.52  15.76  16.52   178400        0.0             0
...           ...    ...    ...    ...      ...        ...           ...
2020-03-06  12.67  13.03  12.18  12.22   880700        0.0             0
2020-03-09  11.10  11.48   9.96   9.96  1922400        0.0             0
2020-03-10  10.45  11.17  10.23  11.06  1225200        0.0             0
2020-03-11  10.63  10.82   9.94  10.16   781800        0.0             0
2020-03-12   9.00   9.35   8.45   8.85   945449        0.0             0

[4939 rows x 7 columns]

In [ ]:
# show actions (dividends, splits)
ggal.actions

            Dividends  Stock Splits
Date
2001-03-27      0.297           0.0
2004-05-26      0.030           0.0
2011-05-11      0.049           0.0
2012-05-15      0.032           0.0
2014-05-22      0.037           0.0
2015-05-26      0.086           0.0
2016-05-19      0.082           0.0
2017-05-10      0.119           0.0
2018-05-11      0.362           0.0
2019-05-15      0.313           0.0

In [ ]:
# show dividends
ggal.dividends

Date
2001-03-27    0.297
2004-05-26    0.030
2011-05-11    0.049
2012-05-15    0.032
2014-05-22    0.037
2015-05-26    0.086
2016-05-19    0.082
2017-05-10    0.119
2018-05-11    0.362
2019-05-15    0.313
Name: Dividends, dtype: float64

In [ ]:
# show splits
ggal.splits

Series([], Name: Stock Splits, dtype: int64)

period: data period to download (Either Use period parameter or use start and end) Valid periods are: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max
interval: data interval (intraday data cannot extend last 60 days) Valid intervals are: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo
start: If not using period - Download start date string (YYYY-MM-DD) or datetime.
end: If not using period - Download end date string (YYYY-MM-DD) or datetime.
prepost: Include Pre and Post market data in results? (Default is False)
auto_adjust: Adjust all OHLC automatically? (Default is True)
actions: Download stock dividends and stock splits events? (Default is True)